body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    line-height: 150%;
}

.wrapper {
    margin: 32px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

header .wrapper section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 24px;
    height: 100%;
}

#circle-photo {
    width: 100%;
    height: auto;
}

section .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 24px;
}

.wrapper.divider {
    padding: 0;
    margin: 0 auto 0 auto;
    text-align: center;
}

header .wrapper-subpage {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.wrapper-subpage {
    margin: 32px 16px 32px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wrapper-subpage section{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: auto;
    margin-bottom: auto;
}

.wrapper-subpage section.page-image {
    gap: 14px;
}

#sub-page-header {
    border-radius: 24px;
    width: 100%;
    height: auto;
}

#sub-page-image {
    border-radius: 16px;
    width: 100%;
    height: auto;
}

span.bold {
    font-weight: 700;
}

figcaption {
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 125%;
    margin: 0;
    color: #767676;
}

.pill-group {
    display: flex;
    flex-direction: row;
    gap: 8px;
    flex-wrap: wrap;
}

.pill-item {
    border: 1px solid #8751A3;
    padding: 8px 16px 8px 16px;
    border-radius: 32px;
    color: #8751A3;
    font-weight: 700;
    font-size: 12px;
    line-height: 125%;
}

.wrapper.fullwidth-wrap {
    margin-top: 0;
    margin-bottom: 0;
}

/*-- CORE COMPONENTS --*/

nav {
    color: #222222;
    font-size: 0.875rem;
    height: 65px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

nav .logo {
    margin: 0;
    padding: 20px 0 20px 0;
    display: inline;
    text-align: center;
    color: #222222;
    text-decoration: none;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 900;
}

nav ul{
    margin: 0;
    padding: 20px 0 20px 0;
}

nav ul li {
    display: inline;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
}

nav li a{
    color: #8751A3;
    text-decoration: underline;
    padding: 20px 10px 20px 10px;
    font-family: "Lato", sans-serif;
    font-size: 14px;
    font-weight: 400;
}

 a{
    color: #8751A3;
    text-decoration: underline;
    font-family: "Lato", sans-serif;
}

nav li a:hover{
    color: #222222;
    padding-bottom: 18px;
}

h1 {
    font-family: "Lato", sans-serif;
    font-size: 40px;
    line-height: 125%;
    font-weight: 900;
    color: #222222;
    text-align: left;
}

h1 .name-drop {
    font-weight: 400;
    font-size: 40%;
}

h3 {
    font-size: 32px;
    font-weight: 900;
    color: #222222;
    margin: 0;
    line-height: 125%;
}

h4 {
    margin-top: 40px;
}

p.tagline {
    font-size: 24px;
    font-weight: 400;
    line-height: 125%;
}

.highlight {
    color: #8751A3;
}

.nomargin {
    margin-top: 0;
}

#illustrated-james {
    width: 220px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#astronaut {
    width: 265px;
    margin-left: auto;
    margin-right: auto;
}

#case-studies {
    background-color: #F3EEF6;
    align-content: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.wrapper-wide {
    margin-left: 16px;
    margin-right: 16px;
}

#case-studies .wrapper-wide {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 1192px;
    align-content: center;
    display: flex;
    gap: 24px;
    flex-direction: column;
}
#case-studies h2 {
    text-align: center;
}

.last-block {
    background-color: #f1f1f1;
    padding: 1px;
}
.last-block .wrapper {
    margin-top: 0;
    padding-top: 0;

}
.last-block h4 {
    margin-top: 30px;
    padding-top: 0;
}

.fullwidth-break {
    width: 100%;
    background-image: url("../images/wireframes_banner.jpg");
    background-size: cover;
    height: 384px;
    background-position: bottom;
}

.fullwidth-break-dulux {
    width: 100%;
    background-image: url("../images/dulux_banner.jpg");
    background-size: cover;
    height: 384px;
    background-position: bottom;
}

.wireframe {
    background-color: #f1f1f1;
    background-image: url("../images/wireframes.png");
    background-size: 100%;
    background-repeat: no-repeat;
    height: 490px;
    background-position: top;
}

#approach {
    margin-bottom: 50px;
}

.folio-item {
    height: 360px;
    display: flex;
    align-items: end;
    background-size: cover;
}

.folio-item p {
    margin-top: 0px;
    margin-bottom: 40px;
}

.folio-item.auth {
    background-image: url("../images/auth-image.jpg"); 
}
.folio-item.search {
    background-image: url("../images/search-image.jpg"); 
}
.folio-item.dulux {
    background-image: url("../images/dulux-image.jpg"); 
}
.folio-item.ccv {
    background-image: url("../images/cancer-council-image.jpg"); 
}
.folio-item.product-discovery {
    background-image: url("../images/product-discovery-image.jpg"); 
}
.folio-item.promotions {
    background-image: url("../images/promotions-image.jpg"); 
}


.overlay-text {
    background-color: rgba(34,34,34,0.7);
    padding: 24px;
    width: 100%;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.overlay-text h4 {
    margin: 0;
    color: white;
    font-weight: 900;
    font-size: 1rem;
}
.overlay-text p {
    margin: 0;
    color: white;
    font-weight: 400;
    font-size: 0.875rem;
    font-family: "Lato", sans-serif;
}
.overlay-text a {
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

button {
    background-color: #8751A3;
    font-family: "Lato", sans-serif;
    font-size: 16px;
    width: 100%;
    height: 44px;
    padding: 12px 24px 12px 24px;
    font-weight: 700;
    color: #fff;
    border-radius: 32px;
    border: none;
    line-height: 1.25rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
button:hover {
    background-color: #4A2260;
    cursor: pointer;
}

label {
    font-size: 14px;
    font-weight: 900;
}

/*-- END CORE COMPONENTS --*/

header {
    margin: 0;
    text-align: left;
}

header.header-gig {
    background-image: url("../images/header-img-GIG.jpg");
}
header.header-djf {
    background-image: url("../images/header-img-DJF.jpg");
}
header.header-gm {
    background-image: url("../images/header-img-goodmarket.jpg");
}
header.header-ccv {
    background-image: url("../images/header-img-ccv.jpg");
}
header.header-dulux {
    background-image: url("../images/header-img-dulux.jpg");
}

header h1 {
    color: #222222;
    text-align: left;
    margin-bottom: 0px;
    margin-top: 0px;
}

h2 {
    color: #222222;
    font-weight: 900;
    font-size: 32px;
    line-height: 125%;
    text-align: left;
    margin: 0;
}

header p {
    color: #222222;
    text-align: left;
    font-size: 1rem;
    line-height: 150%;
    font-weight: 400;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
}

.img-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 10px;
    margin-top: 50px;
}
.img-grid.dulux-margin {
    margin-bottom: 50px;
}

.folio-item {
    color: #000;
    border-radius: 32px;
}

.folio-item:hover {
    /*cursor: pointer;*/
}

.folio-item .folio-img {
    width: 100%;
    border-radius: 32px;
    
}
.folio-item.auth{
    background-image: url("../images/auth-image.jpg"); 
    background-size: cover;
}


.content-img {
    width: 100%;
    padding-top: 20px;
}

.skills p{
    text-align: left;
}

.skills .boxed {
    text-align: center;
    background-color: #DB0A5B;
    padding: 20px;
    display: inline-block;
    color: white;
    width: 88%;
    margin-bottom: 20px;
}

.skills .boxed:last-child {
    margin-bottom: 0px;
}

.skills .title {
    padding-left: 30px;
    display: inline-block;
}
.skills .title h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 21px;
    font-weight: 900;
}
.skills .title p {
    font-size: 15px;
}

.skills .icon {
    margin-top: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #aaaaaa;
}

.testimonial {
    text-align: center;
}

.testimonial p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.testimonial p.author {
    font-size: 16px;
    text-transform: uppercase;
    color: #6d6e71;
}

.contact {
    text-align: left;
}

.copyright {
    text-align: center;
    font-size: 14px;
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 16px;
    margin-right: 16px;
}

.copyright .light-text {
    font-size: 14px;
    color: #767676;
}

footer {
    background-color: #FAFAFA;
    padding-top: 80px;
    padding-bottom: 80px;
}

footer .acknowledgement {
    color: #767676;
    font-size: 14px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 1192px;
    align-content: center;
    background-color: #FAFAFA;
}

.social .icon {
    margin-top: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 4px;
    background-color: #aaaaaa;
}

@media screen and (min-width: 620px) {
    nav {
        text-align: right; 
        width: 100%;
        max-width: 1192px;
        margin-left: auto;
        margin-right: auto;
    }
    
    header {
        background-position: left;
    }
    header h1 {
        font-size: 56px;
    }
    header h2 {
        width: 576px;
    }
    
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 40px;
    }

    p.tagline {
        font-size: 40px;
    }

    .wrapper {
        max-width: 1192px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1192px;
        padding-bottom: 20px;
        padding-top: 20px;
        gap: 80px;
        flex-direction: row;
    }
    #circle-photo {
        max-width: 430px;
    }
    .wrapper .divider {
        padding: 0;
        margin: 0 auto 0 auto;
    }

    #case-studies .wrapper-wide {
        margin-left: auto;
        margin-right: auto;
        max-width: 1192px;
        align-content: center;
        display: flex;
        gap: 24px;
        flex-direction: column;
    }

    header .wrapper-subpage {
        margin: 80px;
        display: flex;
        max-width: 1192px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 80px;
    }
    
    .wrapper-subpage {
        margin: 80px;
        display: flex;
        max-width: 900px;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        gap: 40px;
    }
    
    .wrapper-subpage section{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        margin-top: auto;
        margin-bottom: auto;
    }
    section .links {
        justify-content: left;
    }
    .about section.text-block {
        text-align: left;
        gap: 40px;
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    #illustrated-james {
        width: 265px;
        height: auto;
    }
    #astronaut {
        width: 265px;
        margin: 0;
    }
    #case-studies {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    .folio-item {
        height: 490px;
    }

    .p-block{
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 8px;
    }
    .p-block p{
        margin: 0;
        line-height: 150%;
    }

    button {
        width: 160px;
        justify-content: left;
    }

    .pill-item {
        font-size: 14px;
    }

    header .wrapper {
        gap: 40px;
    }
    header .wrapper section {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 24px;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
    }
    header .wrapper section.header-image{
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 24px;
        grid-row-gap: 24px;
    }
    .img-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 4px;
        grid-row-gap: 2px;
    }
    .large-img {
        grid-row: span 2;
        height: 100%;
    }
    .small-img {
        width: 100%;
    }
    
    .about {
        max-width: 1192px;
        margin-left: auto;
        margin-right: auto;
    }
    .content-img-overflow {
        width: 140%;
        margin-left: -18%
    }
    .contact {
    }
    .copyright {
        text-align: center;
        width: 100%;
        font-size: 14px;
        margin-top: 80px;
        margin-bottom: 80px;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        width: 100%;
    }
}